{{define "execute" -}}
package {{.Collect "command" | join ""}}

import "errors"

// Execute the {{.Name}} command
func (cmd *Command) Execute(args []string) error {
    return errors.New("command {{.Name}} not implemented")
}
{{- end}}