{{define "main" -}}
package main
{{- $path := .Join "/" "project.hub" "project.account" "project" }}
{{- $project := .Lookup "project" }}
{{- $commands := .FindAll "command" }}

import (
	"log"

	"github.com/jessevdk/go-flags"

    "{{ $path }}/internal/{{ $project }}"
	{{- range $commands }}
    "{{ $path }}/internal/{{.Collect "command" | join ""}}"
    {{- end}}
)

func main() {
	parser := flags.NewParser({{ $project }}.Options, flags.Default)
	parser.Name = {{ printf "%q" $project }}

    {{range $commands }}
	if err := {{.Collect "command" | join ""}}.AddCommand(parser); err != nil {
		log.Fatal(err)
	}
    {{- end}}

	if _, err := parser.Parse(); err != nil {
		if flagsErr, ok := err.(*flags.Error); ok && flagsErr.Type == flags.ErrHelp {
			return
		}
	}
}
{{end}}