{{define "main" -}}
package main

import (
	"log"

	"github.com/jessevdk/go-flags"

	{{$path := .Join "/" "project.hub" "project.account" "project" }}
    {{- $project := .Lookup "project" }}
    "{{ $path }}/internal/{{ $project }}"

	{{- range .Body }}
    "{{ $path }}/internal/{{.Name}}"
    {{- end}}
)

func main() {
	parser := flags.NewParser({{ $project }}.Options, flags.Default)
	parser.Name = {{ printf "%q" $project }}

    {{- range .Body }}
	if err := {{.Name}}.AddCommand(parser); err != nil {
		log.Fatal(err)
	}
    {{- end}}

	if _, err := parser.Parse(); err != nil {
		if flagsErr, ok := err.(*flags.Error); ok && flagsErr.Type == flags.ErrHelp {
			return
		}
	}
}
{{end}}