{{define "options" -}}
package {{.Lookup "project"}}
{{- $badkeys := list "type" "default"}}

type options struct {
{{- with .Child "options"}}
    {{- range .Body}}
    {{ title .Name }} {{.Key "type"}} `
        {{- range $key, $value := .Keys }}
        {{- if has $key $badkeys}}{{else}}{{$key}}:"{{$value}}" {{end}}{{end}}`
    {{- end}}
{{- end}}
}

var Options = &options{}

{{- end}}