{{define "main" -}}
package main
{{- $path := .Join "/" "project.hub" "project.account" "project" }}
{{- $project := .Lookup "project" }}
{{- $commands := .FindAll "command" }}

import (
	"log"

	"github.com/spf13/cobra"

	"{{ $path }}/internal/{{ $project }}"

	{{- range $commands }}
    "{{ $path }}/internal/{{.Collect "command" | join ""}}"
    {{- end}}
)

func main() {
    rootCmd := cobra.Command{
        Use: {{ printf "%q" $project }},
        {{- if .Keys.short}}
        Short: {{printf "%q" .Keys.short}},
        {{- end}}
        {{- if .Keys.desc}}
        Long: {{printf "%q" .Keys.desc}},
        {{- end}}
        RunE: {{.Lookup "project"}}.Run,
    }

    {{$project}}.AddFlags(&rootCmd)

    {{- range $commands }}
	if err := {{.Collect "command" | join ""}}.AddCommand(&rootCmd); err != nil {
		log.Fatal(err)
	}
    {{- end}}

	if err := rootCmd.Execute(); err != nil {
        log.Fatal(err)
    }
}
{{end}}