{{define "root" -}}
package {{.Lookup "project"}}

import (
    "errors"

    "github.com/spf13/cobra"
) 

func Run(cmd *cobra.Command, args []string) error {
    return errors.New("root command {{.Lookup "project"}} not implemented")
}
{{- end}}